{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps"]}.
{deps_dir,"deps"}.
{deps, [
    %{lager,   ".*", {git, "https://github.com/basho/lager",        {tag, "3.0.1"}  }},    
    {naga,    ".*", {git, "git://github.com/naga-framework/naga",  {tag, "master"} }},
    {syn,     ".*", {git, "git://github.com/ostinelli/syn",        {tag, "1.1.0"}  }}
]}.

