[{n2o, [
     {port, 8001 }
    ,{websocket_port, 8001 }
   %,{app, draw }
    ,{upload, "/tmp"}
    ,{session, n2o_session}
   %,{auto_session, disabled}
    ,{ttl, 3600}  %% time to live session 15mn, change according to your case
    ,{mq, n2o_syn}
    ,{formatter,bert}
    ,{minify,{"apps/draw/priv/static",
               ["deps/n2o/priv/bullet.js",
                "deps/n2o/priv/n2o.js",
                "deps/n2o/priv/ftp.js",
                "deps/n2o/priv/protocols/bert.js",
                "deps/n2o/priv/protocols/nitrogen.js",
                "deps/n2o/priv/utf8.js",
                "deps/n2o/priv/validation.js"]}}
    ,{route, naga_routes}
    ,{secret,<<"bizwego-This-IS-Classified-Change-Me">>}
    ,{log_modules, draw }
    %,{log_level, draw }
    ,{log_backend, n2o_log}

    ,{origin,<<"*">>}
    ,{bridge,naga_cowboy}
    ,{pickler,n2o_pickle}
    ,{erroring,n2o_error}
    ,{event,pickle}
    ,{protocols,[ n2o_heart,
                  n2o_nitrogen,
                  n2o_file,
                  n2o_client
                ]}
    ]},

{ naga, [
      {watch,[draw]}
     ]},
       
{ draw, [
          {domain, all}
         ,{websocket_port, 8001 }
         ,{base_url, "/"}   
         ,{rules, [routes]}         
         ,{listeners,[
                      {http, [
                               {acceptors, 100},{ip,{0,0,0,0}},{port,8001}
                             ]}
                     ]}
       ]}

].
